.cal_container
{       
    position: relative;
    margin-top: 50px;
    width: 480px;
    height: 300px;
    float: left;
    bottom: 25px;
    left: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }

.cal_container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.cal_img {
    position: absolute;
    width: 470px;
    height: 300px;
    left: 0;
    opacity: 15%;
  }
  
.title {
    position: absolute;
    width: 470px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    z-index: 1;
    transition: top .5s ease;
    font-family: "Montserrat", sans-serif;
}

.cal_container:hover .title {
    top: 85px;
  }
  
.button {
    position: absolute;
    width: 470px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
  }
  
.cal_container:hover .button {
    opacity: 1;
}

.main
{
    float: left;
    width: 100%;
}